base.txt
others/Initial_teaching_outlines/KuangPH/History_of_German
finance
others/schedule_and_school_timetable/schedule.xlsx

others/Final_teaching_outlines/课程大纲_周正佳.docx
others/Initial_teaching_outlines/ZhouZJ
others/Some_Initial_teaching_outlines/ZhouZJ